<%- include('../partials/document',{title}) %>
</head>
<body>
<%- include('../partials/header',{initial, isAdmin}) %>
<% if (typeof votes !="undefined") { %>
    <% votes.forEach((vote, i)=>{  %>

        
        <div class='vote-container <%=vote.validThrough.getTime() < new Date() ? "vote-expired":"" %>'>
            
              <% if (isAdmin) { %>
                <form action='/admin/del-vote/<%= vote.uuid %>' method="POST" class="vote-actions" method="">
                    <button class="del">
                        <i class="fa fa fa-trash"></i>
                    </button>
                 </form>
                
              <% } %>
            <a style="text-decoration: none; color:inherit" href='<%= "/vote/"+vote.uuid %>'>
                <div>
                    <!-- <div class='asker' >
                        <div class="avatar red">SO</div>
                        <h3>Sopekan Adeolu asked ... </h3>
                    </div> -->
                 
                    <h2 class="vote-option"><%=  vote.title %></h2>
            
                    <% if (vote.validThrough.getTime() < new Date()){ %>
                        <p>Vote Ended .. <%= getWinner(vote) %> </p>
                        <% } %>
                      
                </div>
            </a>
        </div>
   

 <% }) %>
<% } %>
<%- include('../partials/end') %>